.videoiframe{
    margin-bottom:0px;
}
.info-box {
    display: flex;
    justify-content: space-between;
    background-color: #fde7f3;   /* light pink */
    padding: 8px;
    border-radius: 6px;
    margin-top: 10px;
    gap: 10px;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 20px;
    color: #333;
    flex: 1;
}

.symbol {
    font-size: 14px;
}


.info-item img {
    width: 16px;
    height: 16px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.title {
    text-align: center;
    margin: 20px;
}

.product-container {
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px, 1fr));
    gap:15px;
    padding:20px;
    background-color:gray;
}

.card {
    background:#fff;
    padding:10px;
    border-radius:8px;
}

.card img {
    width:100%;
    height:220px;
    object-fit:cover;
    border-radius:6px;
}

.card h4 {
    font-size: 14px;
    margin: 8px 0;
}

.price {
    font-weight:bold;
    color:#333;
}

.price span {
    text-decoration:line-through;
    color:gray;
    font-size:12px;
}

.price small {
    color:green;
    font-size:12px;
}

.rating {
    font-size:12px;
    margin-top:5px;
    color:#555;
}

.lowestprice image{
width:50%;
}
.lowestpricecontainer{
    display:flex;
    margin:50px auto;
    max-width:1000px;
    background-color:;
    height:300px;
    width:600px;
}
.lowesttext{

    width:"50%"
}

:root{
    --hoverTextColor:hotpink;
}
.profile:hover{
    color:var(--hoverTextColor);
}
.cart:hover{
    color:var(--hoverTextColor);
}
.item1:hover,.item2:hover,.item3:hover,.item4:hover,.item5:hover,.item6:hover{
      color:var(--hoverTextColor); 
}

body{
margin:0;
padding:0;
width:100%;
font-family:"Roboto",sans-serif;
}
.headerleft,.headerright{
    display:flex;
    align-items:center;
}
        .header{
           
            font-weight:1000px;
            height:50px;
            border:1px solid black;
           align-items:center;
           display:flex;
           padding:0px 10px;
           justify-content:space-between;
        }
.inputbox{
    display:flex;
    width:100px;
}
.cart,.profile{
               cursor:pointer;
    padding:0 px 20px;
    display:flex;
     align-items:center;
     justify-content:center;
     font-size:12px;
}

.items{
      cursor:pointer;
    font-weight:1000px;
            height:50px;
            border:1px solid black;
           align-items:center;
           display:flex;
           padding:0px 10px;
           justify-content:space-between;
}
.items span:not(:last-child)::after{
    content:"|";
    color:#bbb;
    margin-left:8px;
    height:40px;
}